@import "config";
@import "resets";
@import "variables";
@import "buttons";

// Navbar
.navbar-header {
  display: flex;
  // z-index: 999;
  align-items: center;
  //   margin-left: 10px;
  width: 100%;
}

.navbar-toggler {
  display: block;
  right: 15px;
  margin: 0 auto;
  position: absolute;
  // top: 0;
  & #hamburger-icon {
    display: none;
    &.show {
      display: block;
    }
  }
  & #close-icon {
    display: none;
    &.show {
      display: block;
    }
  }
}

.navbar-collapse {
  justify-content: space-around;
  align-items: center;
}

.navbar-nav {
  align-items: center;
  margin-right: 15px;
}

.navbar-nav li {
  & :hover {
    text-decoration: underline 5px $limeGreen;
  }
  & a {
    color: $grayishBlue;
    list-style: none;
    text-decoration: none;
    font-size: $fontSize;
    font-family: $font-stack;
    font-weight: weight(regular);
    padding: 20px;
  }
}

.request-btn {
  display: none;
  @include tablet {
    display: block;
    @include btn($list);
    // padding: 5px 25px;
    border-radius: 30px;
  }
}

//   MODAL

.modal-wrapper {
  display: none;

  &.show {
    position: absolute;
    top: 60px;
    left: 50%;
    height: 250px;
    width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    // padding: 30px;
    background-color: $veryLightGray;
    z-index: 999;
    @include large {
      flex-direction: row;
      justify-content: space-between;
    }
    & .modal-menu ul,
    & .modal-menu {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      align-items: center;
      width: 100%;

      & li {
        list-style: none;
        text-decoration: none;
        font-size: $fontSize;
        font-family: $font-stack;
        font-weight: weight(regular);
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}

// hero image
.intro-wrapper {
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 400px;

  @include tablet {
    margin-right: 0;
  }

  & .hero-image {
    background: url(/images/bg-intro-mobile.svg);
    background-size: 100%;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;

    @include tablet {
      background: url(/images/bg-intro-desktop.svg);
      // position: absolute;
      // height: 44%;
      background-repeat: no-repeat;
      background-size: 115%;
      background-position-y: bottom;
      background-position-x: left;
    }
    & .mockup {
      background: url(/images/image-mockups.png);
      position: absolute;
      top: -131px;
      width: 375px;
      height: 455px;
      background-size: 100%;
      background-repeat: no-repeat;
      
      @include tablet {
        top:-50px;
        right: -69px;
      }
    }
  }
  & .intro-text{
    margin-top: 60px;
    margin-left: 40px;
    display: block;
    flex-direction: column;
    width: 100%;
  }
}

// FOOTER

.footer-wrapper {
  @include set-bg-color($darkBlue);
  justify-content: space-around;

  .menu-bottom-list {
    @include flexBox(flex, row, space-evenly, nowrap);
    margin: 0 auto;
  }
  .footer-menu-wrapper-left {
    line-height: 2rem;
    @include element-float(left, 10px);
  }
  .footer-menu-wrapper-right {
    line-height: 2rem;
    align-self: baseline;
    @include element-float(right, 10px);
  }

  .logo-bottom {
    margin: 15px auto;
  }
  .logo-social {
    display: flex;
    flex-direction: column-reverse;

    svg {
      margin-top: 20px;
    }

    .svg-bottom-logo {
      fill: $veryLightGray;
    }
  }
  .social-icons {
    @include flexBox(flex, row, space-evenly, wrap);

    margin: 20px;
  }

  @include tablet {
    padding: 30px;

    .logo-social {
      @include flexBox(flex, column, space-between, nowrap);
      align-items: inherit;
      .logo-bottom {
        margin-top: 0;
      }
      svg {
        margin: 0;
      }
    }
    .social-icons {
      display: flex;
      margin: 0;
    }
    .menu-bottom-list {
      @include flexBox(flex, row, space-between, nowrap);
      margin-left: 70px;
    }
    .footer-menu-wrapper-left {
      line-height: 2rem;
      @include element-float(left, 30px);
    }
    .footer-menu-wrapper-right {
      line-height: 2rem;
      align-self: baseline;
      @include element-float(right, 30px);
    }

    .input-box {
      align-items: center;
      margin-left: 46px;
      flex-direction: column;
    }
    button {
      margin-top: 40px;
    }
    .copyright {
      margin-top: 50px;
      font-size: 12px;
    }
  }
  @include large {
    padding: 30px;

    .logo-social {
      @include flexBox(flex, column, space-between, nowrap);
      align-items: inherit;

      .logo-bottom {
        margin-top: 0;
      }
      svg {
        margin: 0;
      }
    }
    .social-icons {
      display: flex;
      margin: 0;
    }
    .menu-bottom-list {
      @include flexBox(flex, row, space-between, nowrap);
      margin-left: 70px;
    }
    .footer-menu-wrapper-left {
      line-height: 2rem;
      @include element-float(left, 30px);
    }
    .footer-menu-wrapper-right {
      line-height: 2rem;
      align-self: baseline;
      @include element-float(right, 30px);
    }

    .input-box {
      align-items: flex-start;
      margin-left: 76px;
      display: flex;
      flex-direction: row;
    }
    button {
      margin-top: 0;
    }
    .copyright {
      margin-top: 50px;
      font-size: 12px;
    }
  }
}

// Attribution
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
