@import "config";
@import "resets";
@import "variables";
@import "buttons";

// Navbar
.navbar-header {
  display: flex;
  z-index: 999;
  align-items: center;
  //   margin-left: 10px;
  width: 100%;
}

.navbar-toggler {
  display: block;
  right: 15px;
  margin: 0 auto;
  position: absolute;
  // top: 0;
  & #hamburger-icon {
    display: none;
    &.show {
      display: block;
    }
  }
  & #close-icon {
    display: none;
    &.show {
      display: block;
    }
  }
}

.navbar-collapse {
  justify-content: space-around;
  align-items: center;
}

.navbar-nav {
  align-items: center;
  margin-right: 15px;
}

.navbar-nav li {
  & :hover {
    text-decoration: underline 5px $limeGreen;
  }
  & a {
    color: $grayishBlue;
    list-style: none;
    text-decoration: none;
    font-size: $fontSize;
    font-family: $font-stack;
    font-weight: weight(regular);
    padding: 20px;
  }
}

.request-btn {
  display: none;
  @include large {
    display: block;
    color: $veryLightGray;
    @include btn($list);
    // padding: 5px 25px;
    border-radius: 30px;
  }
}

//   MODAL

.modal-wrapper {
  display: none;

  &.show {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 10%;
    left: 50%;
    display: flex;
    background-color: #fafafa;
    transform: translateX(-50%);
    border-radius: 15px;
    z-index: 1;
  }
  & .modal-menu ul,
  & .modal-menu {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    align-items: center;
    width: 100%;

    & li {
      list-style: none;
      text-decoration: none;
      font-size: $fontSize;
      font-family: $font-stack;
      font-weight: weight(regular);
      padding: 10px;
      cursor: pointer;
    }
  }
}

// HERO IMAGE
.intro-wrapper {
  padding: 0;
  position: relative;
  // border: 2px solid red;
  height: 100%;
  display: block;
  overflow: hidden;

  & .hero-image {
    background-image: url(/images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: right center;
    // border: 2px solid firebrick;
    height: 50vh;
    width: 100%;
    background-size: 100%;
    @include large {
      background-image: url(/images/bg-intro-desktop.svg);
      left: 169px;
      /* top: -143px; */
      width: 100%;
      height: 100%;
      background-size: 77%;
    }
    &::after {
      content: "";
      background-image: url(/images/image-mockups.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 116%;
      position: absolute;
      top: 0;
      margin: -112px auto;
      // border: 2px solid rgb(202, 93, 16);;
      background-size: 100%;
      background-position: center bottom;

      @include tablet {
        height: 160%;
      }
      @include large {
        background-size: 70%;
        margin:0;
        left: 92px;
      }
    }
  }

  & .intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include large {
      padding-left: 105px;
    }
    & h2 {
      @include header($darkBlue, 600, $fontSize * 2);
      text-align: center;
      margin-top: 50px;
      @include large {
        text-align: left;
      }
    }
    & p {
      @include text($grayishBlue, 500, $fontSize, justify);
      // text-align: justify;
      // color: $grayishBlue;
      padding: 30px;
      @include large {
        padding: 0px;
      }
    }
    & .intro-request-btn {
      display: block;
      color: $veryLightGray;
      @include btn($list);
      // padding: 5px 25px;
      border-radius: 30px;
      margin-bottom: 100px;
      @include large {
        align-self: flex-start;
      }
    }
  }
}

.icon-section {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: $lightGrayishBlue;
  flex-direction: column;
  z-index: 999;

  & .choice-section {
    margin-top: 10px;
    margin-bottom: 20px;
    & h3 {
      @include header($darkBlue, 500, $fontSize * 2);
      text-align: center;
      padding: 30px;
      @include tablet {
        display: flex;
        padding: 50px 0px 50px 0px;
      }
    }
    & p {
      @include text($grayishBlue, 500, $fontSize, center);

      @include tablet {
        display: flex;
        @include text($grayishBlue, 500, $fontSize, left);
        margin: 5px 30px 10px 0px;
      }
    }
  }

  & img {
    padding: 30px;
    @include tablet {
      display: flex;
      padding: 30px 0px 30px 0px;
    }
  }
  & h3 {
    @include header($darkBlue, 500, $fontSize * 1.5);
    margin: 10px;
    @include tablet {
      text-align: left;
    }
  }
  & p {
    @include text($grayishBlue, 400, $fontSize, center);
    margin-top: 30px;
    @include tablet {
      text-align: left;
    }
  }
}

// Article section

.article {
  @include header($darkBlue, 500, $fontSize * 1.5);
  margin: 100px 0 50px 0;
  @include tablet {
    align-self: flex-start;
    display: flex;
    padding-left: 120px;
  }
}
.article-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $lightGrayishBlue;
  width: 100%;
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;

  & .card-body {
    padding: 30px;

    & small {
      font-size: small;
    }

    & h4 {
      font-size: $fontSize;
      font-weight: bold;
      color: $darkBlue;
    }

    & p {
      color: $grayishBlue;
      margin-bottom: 40px;
    }
  }

  // & .card-img-top {
  //   height: 175px;
  // }
}
// FOOTER

.footer-wrapper {
  @include set-bg-color($darkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .footer-menu-wrapper-left div,
  & .footer-menu-wrapper-right div {
    padding: 5px;
  }

  & .logo-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .social-icons {
    @include flexBox(flex, row, center, wrap);
    margin: 20px;

    & div {
      padding: 10px;
    }
  }
  & .menu-bottom-button {
    display: flex;
    justify-content: center;
    flex-direction: column;

    & .footer-button {
      display: inline-block;
      color: $veryLightGray;
      @include btn($list);
      margin: 20px auto;
      border-radius: 30px;
      width: 180px;
      align-self: center;
    }
    & .rights {
      align-self: center;
      font-size: $fontSize * 0.7;
      margin-bottom: 50px;
      font-weight: light;
    }
  }

  @include tablet {
    padding: 30px;

    & .logo-social {
      @include flexBox(flex, column, space-between, nowrap);
      align-items: center;
      margin-top: 0;

      & .social-icons {
        margin: 0;
      }
    }
    & .menu-bottom-list {
      @include flexBox(flex, row, space-between, nowrap);
      margin-left: 40px;
    }
    & .footer-menu-wrapper-left {
      line-height: 2rem;
      align-self: flex-start;
      @include element-float(left, 0px);
      text-align: left;
    }
    & .footer-menu-wrapper-right {
      line-height: 2rem;
      align-self: flex-start;
      @include element-float(right, 30px);
      text-align: left;
    }
    & .footer-button {
      background-color: rebeccapurple;
    }
    // .rights {
    //   margin-top: 50px;
    //   font-size: 12px;
    // }
  }
}

// Attribution
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
