@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  height: auto;
  width: auto;
}

body {
  font-family: "Public Sans", Helvetica, sans-serif;
  min-height: 100vh;
  font-size: 18px;
  background-color: white;
}

.navbar-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-toggler {
  display: block;
  right: 15px;
  margin: 0 auto;
  position: absolute;
}

.navbar-toggler #hamburger-icon {
  display: none;
}

.navbar-toggler #hamburger-icon.show {
  display: block;
}

.navbar-toggler #close-icon {
  display: none;
}

.navbar-toggler #close-icon.show {
  display: block;
}

.navbar-collapse {
  justify-content: space-around;
  align-items: center;
}

.navbar-nav {
  align-items: center;
  margin-right: 15px;
}

.navbar-nav li :hover {
  text-decoration: underline 5px #31d35c;
}

.navbar-nav li a {
  color: #9698a6;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  font-family: "Public Sans", Helvetica, sans-serif;
  font-weight: 400;
  padding: 20px;
}

.request-btn {
  display: none;
}

@media (min-width: 768px) {
  .request-btn {
    display: block;
    font-family: "Public Sans", Helvetica, sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border: 0;
    background: linear-gradient(to right, #31d35c, #2bb7da);
    border-radius: 30px;
  }
}

.modal-wrapper {
  display: none;
}

.modal-wrapper.show {
  position: absolute;
  top: 60px;
  left: 50%;
  height: 250px;
  width: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

@media (min-width: 1024px) {
  .modal-wrapper.show {
    flex-direction: row;
    justify-content: space-between;
  }
}

.modal-wrapper.show .modal-menu ul,
.modal-wrapper.show .modal-menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  align-items: center;
  width: 100%;
}

.modal-wrapper.show .modal-menu ul li,
.modal-wrapper.show .modal-menu li {
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  font-family: "Public Sans", Helvetica, sans-serif;
  font-weight: 400;
  padding: 10px;
  cursor: pointer;
}

.hero-image {
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

@media (min-width: 1024px) {
  .hero-image {
    background-image: url(/images/bg-intro-desktop.svg);
  }
}

.hero-image.mockup {
  position: absolute;
  top: -50px;
  width: 200px;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
